/*** ================================================
             Main Header style
=================================================***/
.header-light .main-menu .navigation>li>a {
    color: #243E63;
}

.header-light .main-menu .navigation>li:hover>a,
.header-light .main-menu .navigation>li.current>a {
    border-bottom: 2px solid #635AF2;
}

.header-light .main-menu .navbar-header .navbar-toggle .icon-bar {
    background: #243E63;
}

.main-header {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
    width: 100%;
    background: #FFFFFF;
}

.header-upper {
    position: relative;
    z-index: 5;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.header-inner {
    display: flex;
    align-items: center;
}

.logo-outer {
    position: relative;
    z-index: 25;
}

.main-menu .navigation>li {
    position: relative;
    float: left;
}

.main-menu .navigation>li:last-child::after {
    display: none;
}

.main-menu .navigation>li>a {
    color: #00235a;
    display: block;
    margin: 0 10px;
    font-size: 14px;
    font-weight: 700;
    transition: 0.5s;
    position: relative;
    padding: 10px 18px 9px;
    text-transform: uppercase;
}

.main-menu .navigation>li>ul {
    position: absolute;
    right: auto;
    top: 100%;
    width: 204px;
    z-index: 100;
    display: none;
    padding: 7px 0;
    background: #ffffff;
    border-radius: 0 0 5px 5px;
    box-shadow: inset 0 0 0 10px #fff, 0 5px 15px -5px rgba(0, 0, 0, .2);
}

.main-menu .navigation>li>ul>li {
    position: relative;
    width: 100%;
}

.main-menu .navigation>li>ul>li>a {
    position: relative;
    padding: 6px 25px;
    display: block;
    color: #00235a;
    font-weight: 500;
}

.main-menu .navigation>li>ul>li>a:hover,
.main-menu .navigation>li>ul>li.current-menu-item>a {
    color: #fb9a09;
}

.main-menu .navigation>li>ul>li ul {
    position: absolute;
    left: 100%;
    top: 0%;
    width: 250px;
    z-index: 100;
    display: none;
    padding: 7px 0;
    border-radius: 4px;
    background: #ffffff;
    -webkit-box-shadow: 0px 30px 30px rgba(115, 117, 165, 0.07);
    box-shadow: 0px 30px 30px rgba(115, 117, 165, 0.07);
}

.main-menu .navigation>li>ul>li>ul:before {
    position: absolute;
    content: '';
    right: 100%;
    top: 0px;
    width: 20px;
    height: 100%;
}

.main-menu .navigation>li>ul>li>ul li {
    position: relative;
    width: 100%;
    padding: 0;
}

.main-menu .navigation>li>ul>li>ul>li a {
    position: relative;
    display: block;
    padding: 7px 32px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    padding-right: 0px;
    text-transform: capitalize;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.main-menu .navigation>li>ul>li>ul>li a:hover {
    color: #F82462;
}

.main-menu .navigation>li.dropdown:hover>ul {
    visibility: visible;
    opacity: 1;
}

.main-menu .navigation li>ul>li.dropdown:hover ul {
    visibility: visible;
    opacity: 1;
    left: 100%;
    top: 0%;
}

.main-menu .navbar-collapse ul li.dropdown .dropdown-btn {
    position: absolute;
    right: 10px;
    top: 0;
    width: 50px;
    height: 43px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    font-size: 16px;
    line-height: 50px;
    color: #243E63;
    cursor: pointer;
    z-index: 5;
}

.main-menu .navbar-collapse>ul>li.dropdown>.dropdown-btn {
    display: none;
}

.navbar-header {
    display: none;
}

.main-menu .navigation>li:hover>a,
.main-menu .navigation>li.current-menu-item>a,
.main-menu .navigation>li.current-menu-parent>a {
    background: #f3f8ec;
}

/* ============ Start Sticky Header css ============*/
.main-header.fixed-header {
    position: fixed;
    top: -100px;
    transform: translateY(100px);
    transition: transform .85s cubic-bezier(0.88, 0.06, 0.64, 0.99);
    box-shadow: 0px 30px 30px rgba(115, 117, 165, 0.07);
}

.fixed-header .main-menu {
    padding-top: 0px;
}

.main-menu .navigation>li:after {
    display: none;
}

/* =========== End Sticky Header css ===========*/

.main-header .header-upper .upper-right {
    position: initial;
}

.main-header .nav-outer {
    position: inherit;
}

.main-menu {
    position: inherit;
}

.main-menu .navigation {
    position: inherit;
}

.main-menu .navigation>li {
    position: inherit;
    padding: 30px 0;
}

.menu-button .theme-btn {
    padding: 5px 25px 5px 5px;
}

.menu-button .theme-btn i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    background: #fff;
    color: #00235a;
    margin: 0 10px 0 0;
    transform: translate(0);
}

.menu-button .theme-btn:hover i {
    transform: translate(0);
}

.menu-button .theme-btn span {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

/*** ===========================================================
               Start Responsive menu css
=============================================================***/

@media only screen and (max-width: 1199px) {
    .header-style .container-fliud {
        padding: 0 15px
    }

    .menu-button {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .main-menu {
        float: left;
    }

    .logo-center .main-menu {
        position: absolute;
        top: 50%;
    }

    .main-header {
        padding: 15px 0;
    }

    .logo-outer,
    .fixed-header .logo-outer {
        text-align: center;
        margin: auto;
    }

    .main-menu .navigation {
        margin: auto;
    }

    .main-menu .navigation>li {
        position: relative;
    }

    .main-menu .navbar-header {
        position: relative;
        display: block;
        width: 100%;
        z-index: 99;
    }

    .navbar-header .logo,
    .navbar-header .fixed-logo {
        float: left;
        max-width: 150px;
    }

    .logo-outer {
        display: none;
    }

    .header-upper .upper-right {
        position: relative;
        width: 100%;
        padding-top: 0px;
    }

    .main-menu {
        width: 100%;
    }

    .main-menu .navbar-header .navbar-toggle {
        float: right;
        cursor: pointer;
        margin-top: 1px;
        background: transparent;
    }

    .main-menu .navbar-header .navbar-toggle .icon-bar {
        background: #222;
        height: 3px;
        width: 29px;
        display: block;
        margin: 7px 5px;
    }

    .fixed-header .main-menu .navbar-header .navbar-toggle .icon-bar {
        background: #243E63;
    }

    .main-menu .collapse {
        max-height: 325px;
        overflow: auto;
        float: none;
        width: 100%;
        padding: 0px 0px 0px;
        border: none;
        border-radius: 3px;
    }

    .main-menu .navbar-collapse>.navigation {
        float: none;
        margin-top: 25px;
        width: 100%;
        background: #fff;
        border: 1px solid #ffffff;
        border-top: none;
    }

    .main-menu .navbar-collapse>.navigation>li {
        margin: 0px;
        float: none;
        width: 100%;
    }

    .main-menu .navigation>li>a,
    .main-menu .navigation>li>ul:before {
        border: none;
    }

    .main-menu .navbar-collapse>.navigation>li>a {
        padding: 5px 10px;
        border: none;
    }

    .main-menu .navbar-collapse>.navigation>li>ul,
    .main-menu .navbar-collapse>.navigation>li>ul>li>ul {
        position: relative;
        border: none;
        float: none;
        visibility: visible;
        opacity: 1;
        display: none;
        margin: 0px;
        padding: 0px;
        width: 100%;
        border-radius: 0px;
        box-shadow: none;
    }

    .main-menu .navbar-collapse>.navigation>li,
    .main-menu .navbar-collapse>.navigation>li>ul>li,
    .main-menu .navbar-collapse>.navigation>li>ul>li>ul>li {
        border-top: 1px solid #f3f3f3;
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
    }

    .main-menu .navbar-collapse>.navigation>li:first-child {
        border: none;
    }

    .main-menu .navbar-collapse>.navigation>li>a,
    .main-menu .navbar-collapse>.navigation>li>ul>li>a,
    .main-menu .navbar-collapse>.navigation>li>ul>li>ul>li>a {
        line-height: 22px;
        color: #243E63;
        text-align: left;
        min-height: 0px;
    }

    .main-menu .navbar-collapse>.navigation>li:hover>a,
    .main-menu .navbar-collapse>.navigation>li.current-menu-item>a,
    .main-menu .navbar-collapse>.navigation>li.current-menu-parent>a {
        background: transparent;
    }

    .main-menu .navbar-collapse>.navigation>li:hover>a,
    .main-menu .navbar-collapse>.navigation>li>ul>li:hover>a,
    .main-menu .navbar-collapse>.navigation>li>ul>li>ul>li:hover>a,
    .main-menu .navbar-collapse>.navigation>li.current>a,
    .main-menu .navbar-collapse>.navigation>li.current-menu-item>a {
        color: #1C00AF;
    }

    .main-menu .navbar-collapse>.navigation li.dropdown .dropdown-btn {
        display: block;
        transform: rotate(180deg);
    }

    .main-menu .navbar-collapse>.navigation li.dropdown:after,
    .main-menu .navigation>li>ul:before {
        display: none;
    }

    .main-menu .navigation>li>a {
        margin: 2px;
        margin-bottom: 2px;
    }

    .logo-center .main-menu {
        position: relative;
    }

    .header-inner>.dg-header-right {
        display: none;
    }
}

/*** ==============================================================
           End Main menu style area
================================================================***/