.theme-btn {
    display: inline-block;
    padding: 20px 40px 17px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 500;
    background: #21b4a6;
    color: #fff;
    cursor: pointer;
    transition: all .5s ease;
}

@media (max-width: 1366px) {
    #mainSlider .carousel-indicators li::after {
        position: absolute;
        content: '';
        background: #21b4a6;
        width: 100%;
        height: 60%;
        bottom: 0;
        left: 0;
        display: block;
        border-radius: 5px;
        transition: all .3s linear !important;
    }
}

.feature-single>a>i {
    font-size: 50px;
    color: #21b4a6;
    transition: all .3s ease .1s;
}

.feature-single>a {
    padding: 45px 0;
    display: block;
    background: #def8f5;
}

.slick-dots .slick-active {
    background: #21b4a6;
}

.about-content>h4 {
    font-size: 17px;
    line-height: 28px;
    color: #21b4a6;
    margin-top: 12px;
    margin-bottom: 25px;
}

.about-gallery-list li>a::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #21b4a6;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    transition: all .3s ease;
}

.feature-single>a:hover {
    background: #21b4a6;
}

.about-gallery-list li>a:not(.active):hover::before {
    visibility: visible;
    opacity: 1;
    background: rgba(243, 197, 71, 0.5);
}

.partners-section::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(85 191 180 / 96%);
    top: 0;
    left: 0;
    z-index: -1;
}

.reviewed-by>span {
    font-size: 15px;
    color: #21b4a6;
}

.review-btn {
    display: block;
    position: relative;
    z-index: 1;
    background: #21b4a6;

}

.call-to-action::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 35, 90, .96);
    box-shadow: inset 0 -6px 0 #21b4a6;
    top: 0;
    left: 0;
    z-index: -1;
}

.footer-contact p>i {
    font-size: 20px;
    line-height: 30px;
    color: #21b4a6;
}

.footer-bottom {
    padding: 12px 0;
    background: #21b4a6;
}

.scroll-to-top:hover {
    background: #21b4a6;
    color: #fff;
}

.partners-section .section-header {
    margin-bottom: 15px;
}

.footer-middle {
    padding: 45px 0;
}

a {
    transition: all .3s ease;
    color: #01245b;
}

.main-menu .navigation>li:hover>a,
.main-menu .navigation>li.current-menu-item>a,
.main-menu .navigation>li.current-menu-parent>a {
    background: #def8f5;
}

.feature-section {
    padding-top: 90px;
    padding-bottom: 90px;
}

.feature-section .section-header {
    margin-bottom: 35px;
}

.about-section {
    padding: 90px 0;
    background: #def8f5;
}

.service-section {
    padding: 90px 0 30px;
}

.testimony-section {
    padding: 70px 0 70px;
}

@media (max-width: 768px) {

    .error-content h3,
    .error-content p {
        font-weight: 700;
        color: #00235a;
        margin: 10px;
    }
}

.about-content>p {
    font-size: 15px;
    line-height: 25px;
    color: #555b56;
    column-count: 1 !important;
    column-gap: 70px;
    column-rule: 4px solid #00235a;
    margin-bottom: 60px;
}

.pageBanner-content>h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 110px;
    color: #fff;
}

@media (max-width: 1399px) {
    .slider-content>h1 {
        font-size: 65px;
        line-height: 80px;
    }
}

.slider-content>h1 {
    font-size: 70px;
    line-height: 80px;
    font-weight: 700;
    color: #fff;
}

@media (max-width: 767px) {
    .slider-content>h1 {
        font-size: 50px;
        line-height: 66px;
    }
}

.highlights {
    color: #21b4a6;
}

.service-section .section-header {
    margin-bottom: 30px;
}

::selection {
    background-color: #21b4a6;
    color: #ffffff;
}